.App {
  text-align: center;
}

.analysis {
  padding: 30px;
}

.monthly-analysis {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.analysis-section {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.analysis-section.left {
    background-color: #eef6ff;
}

.analysis-section.right {
    background-color: #fff6ee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.expenses-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.expenses-table th, .expenses-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.expenses-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.expenses-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.expenses-table tr:hover {
  background-color: #f1f1f1;
}

.expenses-table button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.expenses-table button:hover {
  background-color: #ddd;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
